* {
    margin: 0;
}

.App {
    background-color: #a8eb34;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('public/bg-1.jpg');

}